<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gramentheme">
    <meta name="description" content="Ecomas - Multipurpose Ecommerce HTML Template">
    <!-- ======== Page title ============ -->
    <title>Metro cabs</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="/assets/img/favicon.svg">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!--<< Color.css >>-->
    <link rel="stylesheet" href="/assets/css/color.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <!-- fix-area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="/index.html">
                                <img src="/assets/img/logo/red-logo.svg" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a
                        feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@example.com"><span
                                            class="mailto:info@example.com">info@example.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">

                        </div>
                        <a href="contact.html" class="theme-btn"><span>Let’s Talk <i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Sidebar Area Here -->
    <div id="targetElement" class="side_bar slideInRight side_bar_hidden">
        <div class="side_bar_overlay"></div>
        <div class="cart-title mb-50">
            <h4>Log in</h4>
        </div>
        <div class="login-sidebar">
            <form action="#" id="contact-form" method="POST">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Username or email address *</span>
                            <input type="text" name="name15" id="name15" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Password *</span>
                            <input id="password" type="password" placeholder="">
                            <div class="icon"><i class="fa-regular fa-eye"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button class="theme-btn" type="submit"><span>Log In</span></button>
                    </div>
                    <div class="col-lg-12">
                        <div class="from-cheak-items">
                            <div class="form-check d-flex gap-2 from-customradio">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Remember Me
                                </label>
                            </div>
                            <p>Forgot Password?</p>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text">Or login with</p>
            <div class="social-item">
                <a href="#" class="facebook-text"><img src="/assets/img/facebook.png" alt="img">FACEBOOK</a>
                <a href="#" class="facebook-text google-text"><img src="/assets/img/google.png" alt="img">Google</a>
            </div>
            <div class="user-icon-box">
                <img src="/assets/img/user.png" alt="img">
                <p>No account yet?</p>
                <a href="account.html">Create an Account</a>
            </div>
        </div>
        <button id="closeButton" class="x-mark-icon"><i class="fas fa-times"></i></button>
    </div>


    <!-- Header Section Start -->

    <%- include('partials/header') -%>

        <!-- search-wrap Start -->
        <div class="search-wrap">
            <div class="search-inner">
                <i class="fas fa-times search-close" id="search-close"></i>
                <div class="search-cell">
                    <form method="get">
                        <div class="search-field-holder">
                            <input type="search" class="main-search-input" placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- search-wrap End -->

        <div class="swiper-slide">
            <div class="hero-3">
                <div class="hero-bg bg-cover" style="background-image: url(/assets/img/car/cities1.webp);">
                </div>
                <div class="container">
                </div>
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-10">
                            <div class="hero-content">
                                <Center>
                                    <p data-animation="fadeInUp" data-delay="1.3s">
                                <h1 style="color: rgb(255, 255, 255);">
                                    <%= data?.origin %> to <%= data?.destination %>
                                </h1>
                                <h4 style="color: rgb(251, 251, 251);"> One-way Taxi | Drop Taxi | Outstation Taxi</h4>
                                    </p>
                                </Center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Header -section End -->

        <!-- About -section Start -->
<center>
    <div class="blogdetail-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <center>
                        <div class="bloginner-img">
                            <img src="/assets/img/car/seo-discover.jpg" alt="img">
                        </div>
                    </center>
                </div>
            </div>
            <h2>
                <%= data?.origin %> to <%= data?.destination %> : Explore Seamless One-Way Taxi Drops with Metro cabs
            </h2><br>
            <p>
                Metro cabs has been dedicated to simplifying taxi travel for residents in major cities across India.
                From our inception, we have consistently expanded our services to enable one-way taxi travel on an
                increasing number
                of routes across the country, including popular routes connecting major cities.
                As of 2024, Metro cabs has proudly served various states in India, becoming a leading outstation travel
                provider with
                an extensive reach.
                Our core principles focus on providing competitive prices, ensuring exceptional quality, offering 24x7
                support, and
                extending our services nationwide, including comprehensive coverage in and around major cities.
                Opting for a one-way cab with bluecab can potentially save you up to 50% compared to traditional one-way
                travel,
                making it the preferred choice for travelers across India.
            </p>
    
            <p>
                Metro cabs offers the flexibility to book one-way, round trip, and multi-way transfers across the nation, with
                a
                special emphasis on meeting the travel demands of residents in major cities.
                Whether you require airport or railway drop services, Metro cabs can cater to your needs throughout India,
                offering
                the best rates in the car rental industry.
                The list of routes provided serves as a sample of popular routes in each major region of India, with
                particular
                emphasis on those connecting to and from major cities.
                If you have any queries or require assistance, please reach out to our customer support center or message us
                via the
                website chat.
                Metro cabs is committed to providing hassle-free one-way travel at the most competitive prices.
            </p>
        </div>
    </div>
    
    <blockquote class="blog-quotes">
        <center>
            <img src="/assets/img/car/blogquote (1).jpg" alt="quotes">
            <p>
                Ensuring your safety is our top priority! Experience a stress-free travel adventure with us, where we pledge
                to adhere to all safety guidelines. Capture the allure of <%= data?.destination %> – reserve your cab today
                    for a smooth and delightful journey!
            </p>
            <h6>Our Priority - Your Safety</h6>
        </center>
    </blockquote>
    <h2>
        <%= data?.origin %> to <%= data?.destination %>
    </h2>
    <p>
        Embark on a well-planned journey from <%= data?.origin %> to <%= data?.destination %> by easily reserving a cab
                throughMetro cabs.
                <%= data?.destination %> beckons with numerous possibilities for creating cherished memories with your dear
                    ones.
                    Ensure a delightful visit by booking a cab with Metro cabs, allowing you to uncover the city's diverse
                    attractions.
    </p>
    <p>
        With a variety of transportation choices, including both public and private options, your journey to <%=
            data?.destination %> is now more accessible than ever before.
    </p>
    
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <center>
                <div class="bloginner-img">
                    <img src="/assets/img/car/seo-picture.jpg" alt="img">
                </div>
            </center>
        </div>
    </div>
    
    <div>
        <h3>
            Pricing Paradigm: Navigating the Cost Landscape for Your Journey
        </h3>
        <p>
            Ease your travel from <%= data?.origin %> to <%= data?.destination %> by opting for the comfort and convenience
                    of a private cab with Metro cabs.
                    Say goodbye to the complexities of public transportation and enjoy a seamless journey.
                    Take advantage of special discounts on single-way trips, starting at an affordable <strong>Rs.<%=
                            data?.sedanPrice %></strong>.
                    Tailor your travel experience by selecting from a variety of car options, including hatchbacks, sedans,
                    and SUVs.
        </p>
        <p>
            <%= data?.origin %> to <%= data?.destination %> taxi for just <strong>Rs.<%= data?.sedanPrice %></strong> on
                    Sedan's
        </p>
        <p>
            <%= data?.origin %> to <%= data?.destination %> taxi for just <strong>Rs.<%= data?.suvPrice %></strong> on SUV's
        </p>
    </div><br>
    
    <div>
        <h3>Unveiling the Distances Between Destinations</h3>
        <p>
            Discover the magic of a memorable road expedition as you travel from <%= data?.origin %> to <%=
                    data?.destination %>! Easily reserve your cab with Metro cabs and relish the charm of the entire journey.
                    Covering approximately <strong>
                        <%= data?.distance %>km
                    </strong>, relish the picturesque vistas and take breaks at rejuvenating spots along the way.
        </p>
    </div><br>
    
    <div>
        <h3>
            Lead A Pleasant Journey
        </h3>
        <p>
            Begin a comfortable journey with our reliable car rental service, where skilled and courteous drivers guarantee
            a seamless ride.
            Prioritizing safety, we meticulously sanitize all our cabs, and both drivers and passengers must adhere to
            mask-wearing protocols.
            For your <%= data?.origin %> to <%= data?.destination %> cab reservation, utilize the convenient online booking
                    platform provided by Metro cabs.
                    Explore a range of options, from one-way trips to round-trip arrangements.
        </p>
    </div>
    
    </div>
    </div>
    
    <br><br>
</center>


        <!-- footer-section Start -->

        <%- include('partials/footer') -%>

            <!-- footer-section End -->

            <!--<< All JS Plugins >>-->
            <script src="/assets/js/jquery-3.7.1.min.js"></script>
            <script src="/assets/js/viewport.jquery.js"></script>
            <!--<< Bootstrap Js >>-->
            <script src="/assets/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/js/jquery.nice-select.min.js"></script>
            <!--<< Waypoints Js >>-->
            <script src="/assets/js/jquery.waypoints.js"></script>
            <!--<< Counterup Js >>-->
            <script src="/assets/js/jquery.counterup.min.js"></script>
            <!--<< Swiper Slider Js >>-->
            <script src="/assets/js/swiper-bundle.min.js"></script>
            <!--<< MeanMenu Js >>-->
            <script src="/assets/js/jquery.meanmenu.min.js"></script>
            <!--<< Magnific Popup Js >>-->
            <script src="/assets/js/jquery.magnific-popup.min.js"></script>
            <!--<< Wow Animation Js >>-->
            <script src="/assets/js/wow.min.js"></script>
            <!--<< Main.js >>-->
            <script src="/assets/js/main.js"></script>
</body>

</html>