<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gramentheme">
    <meta name="description" content="Ecomas - Multipurpose Ecommerce HTML Template">
    <!-- ======== Page title ============ -->
    <title>Metro Cabs</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="/assets/img/favicon.svg">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="/ssets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!--<< Color.css >>-->
    <link rel="stylesheet" href="/assets/css/color.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>


    <!-- fix-area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="/">
                                <img src="/assets/img/logo/logo.jpg" alt="logo-img">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a
                        feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@example.com"><span
                                            class="mailto:info@example.com">info@example.com</span></a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">

                        </div>
                        <a href="contact.html" class="theme-btn"><span>Let’s Talk <i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <!-- Sidebar Area Here -->
    <div id="targetElement" class="side_bar slideInRight side_bar_hidden">
        <div class="side_bar_overlay"></div>
        <div class="cart-title mb-50">
            <h4>Login / Register</h4>
        </div>
        <div class="login-sidebar">
            <form action="#" id="contact-form" method="POST">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Username or email address *</span>
                            <input type="text" name="name15" id="name15" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-clt">
                            <span>Password *</span>
                            <input id="password" type="password" placeholder="">
                            <div class="icon"><i class="fa-regular fa-eye"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button class="theme-btn" type="submit"><span>Log In</span></button>
                    </div>
                    <div class="col-lg-12">
                        <div class="from-cheak-items">
                            <div class="form-check d-flex gap-2 from-customradio">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Remember Me
                                </label>
                            </div>
                            <p>Forgot Password?</p>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text">Or login with</p>
            <div class="social-item">
                <a href="#" class="facebook-text"><img src="assets/img/facebook.png" alt="img">FACEBOOK</a>
                <a href="#" class="facebook-text google-text"><img src="assets/img/google.png" alt="img">Google</a>
            </div>
            <div class="user-icon-box">
                <img src="/assets/img/user.png" alt="img">
                <p>No account yet?</p>
                <a href="account.html">Create an Account</a>
            </div>
        </div>
        <button id="closeButton" class="x-mark-icon"><i class="fas fa-times"></i></button>
    </div>

    <%- include('partials/header') -%>
        
<br><br>
<!-- Add this CSS to your stylesheet or inside a <style> tag -->
<style>
    .custom-card {
        border: 2px solid #eee;
        border-radius: 2px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }

    .custom-card .row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .trip-details {
        padding: 25px;
    }

    .trip-details h3 {
        font-size: 22px;
        font-weight: 600;
    }

    .trip-details ul {
        list-style: none;
        padding-left: 0;
    }

    .trip-details ul li {
        margin-bottom: 6px;
        font-size: 16px;
    }

    .trip-details .text-danger {
        font-size: 14px;
        font-weight: 500;
    }

    .price-box {
        padding: 25px;
        text-align: center;
    }

    .price-box h2 {
        font-size: 26px;
        color: #198754;
        font-weight: 700;
    }

    .price-box button {
        margin-top: 15px;
        font-weight: 600;
    }

    .car-image {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .car-image img {
        max-width: 140%;
        height: auto;
        border-radius: 2px;
    }

    @media (max-width: 767px) {
        .custom-card .row {
            flex-direction: column-reverse;
        }

        .price-box,
        .trip-details,
        .car-image {
            padding: 15px;
        }
    }
</style>

<!-- EJS Layout -->
<div class="list-content">
    <div class="container">
        <div class="col-lg-8 col-md-10 col-10 mx-auto">
            <div class="blog-listview">

                <% var carImage={ "swift" : '/assets/img/car/swift.webp' , "suzuki-ertiga"
                    : '/assets/img/car/suzuki-ertiga.webp' , "xylo" : '/assets/img/car/xylo.png' , "innova"
                    : '/assets/img/car/innova.webp' , } %>

                    <% data.estimatedData.forEach(function(car, index) { %>
                        <div class="card mb-5 custom-card">
                            <div class="row">


                                <!-- Car Image (Right Side) -->
                                <div class="col-lg-3 car-image">
                                    <img src="<%= carImage[car.cName] %>" alt="<%= car.cName %> image" />
                                </div>

                                <!-- Price + Book Now -->
                                <div class="col-lg-3 price-box">
                                    <h4 class="text-uppercase">
                                        <%= (data.service=='0' ) ? 'One Way' : 'Round Trip' %>
                                    </h4>
                                    <h2>₹<%= car.price %>
                                    </h2>
                                    <button class="btn btn-success" onclick="book(event, <%= index %>)">Book
                                        Now</button>
                                </div>
                                <!-- Trip Details (Left Side) -->
                                <div class="col-lg-6 trip-details">
                                    <h3 class="text-uppercase">
                                        <%= car.cName %>
                                    </h3>
                                    <h5 class="mb-3">
                                        <%= data.from %> to <%= data.to %>
                                    </h5>
                                
                                    <ul>
                                        <li><strong>Distance:</strong>
                                            <%= data.distance %> km
                                        </li>
                                        <li><strong>Duration:</strong>
                                            <%= data.duration %>
                                        </li>
                                        <li><strong>Service:</strong>
                                            <%= (data.service=='0' ) ? 'One Way Trip' : 'Round Trip' %>
                                        </li>
                                        <li><strong>Driver Bata:</strong> ₹<%= car.batta %>
                                        </li>
                                        <li><strong>Rate per km:</strong> ₹<%= car.rate %>
                                        </li>
                                    </ul>
                                
                                    <p class="text-danger">* Excluded Hill stations, State Taxes & Toll taxes</p>
                                </div>

                            </div>
                        </div>
                        <% }) %>

            </div>
        </div>
    </div>
</div>


  <%- include('./partials/footer') -%>

    <!--<< All JS Plugins >>-->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <!--<< Viewport Js >>-->
    <script src="assets/js/viewport.jquery.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!--<< Waypoints Js >>-->
    <script src="assets/js/jquery.waypoints.js"></script>
    <!--<< Counterup Js >>-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="assets/js/wow.min.js"></script>
    <!--<< Main.js >>-->
    <script src="assets/js/main.js"></script>
    </body>
    
    </html>

  <script>
    const deserialize = JSON.parse(`<%- JSON.stringify(data) %>`);

    async function book(event, index) {
        event.preventDefault();
        const vBooked = deserialize.estimatedData[index];
        
        sessionStorage.setItem('bookingInfo', JSON.stringify({ ...deserialize, estimatedData: vBooked }));

        window.location.href = "/verification";
    }
  </script>

</body>
</html>